@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;    
    text-decoration: none;
    box-sizing: border-box;
      
}  

.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}
#slideImg{
    width: 100%;
    height: 100%;
}
.overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
}

nav{
    z-index: 10;
    background: #00001a;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 1.5rem 7%;
}
.logo{
    float: left;
    display: flex;    
    font-size: 24px; 
    font-weight: 700;
    margin-right: 1px 0;
    margin-top: -35px;
    cursor: pointer;
}
.details-list{
    list-style: none;
    margin: 30px 0;
    justify-content: space-between;
}

.details-list li{
    margin-left: 45px;
    font-size: 28px;
    font-weight: 700;
    line-height:1.7;
    color: #86b300;
    padding-left: 50px;
    position: relative;
    

}
.details-list li img{
    position: absolute;
    top: -20px;
    left: -60px;
    width: 80px;
    height: 80px;
    padding: 0 5px;
       
}


nav .links{
    float: right;
    padding: 0;
    margin: 0;
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
nav .links li{
    list-style: none;
    display: inline-block; 
    position: relative;   
}
nav .links li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #00bfff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav .links li:hover::after{
    width: 100%;
}
nav .links li > a{
    color: white;
    text-decoration: none;
    font-size: 14px;   
}
nav .links li a:hover{
    color: #00bfff;
    font-weight: 700;
}
.sub-menu{
    display: none;
}
nav .links li .sub-menu a{
    font-size: 13px;
}

nav .links li:hover .sub-menu{
    display: block;
    position: absolute;
    background: #00001a;
    margin-top: 0px;
    margin-left: -15px;
    line-height: 3;
    padding: 0 1.5em;
    
}


#portfolionav-toggle{
    position: absolute;
    margin-top: -25px;
    top: -100px;
}

nav .portfolioicon-burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    
}
nav .portfolioicon-burger .line{
    width: 25px;
    height: 2px;
    background-color:#00bfff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.hero-texts{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFF;
}

.hero-texts h1{
    font-size: 54px;
    margin-top: 40px;
}
.hero-texts p{
    font-size: 20px;
    font-weight: 200;
    margin: 20px auto;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background:#86b300;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

@media screen and (max-width:768px) {

    .details-list li{
        margin-left: 15px;
        font-size: 20px;
        font-weight: 700;
        line-height:2.2;
        color: #00bfff;
        padding-left: 30px;
        position: relative;
        
    
    }
    .details-list li img{
        position: absolute;
        top: -20px;
        left: -35px;
        width: 80px;
        height: 80px;
        padding: 0 5px;
           
    }
    nav .links{
        float: none;
        position: fixed;
        padding: 0;
        margin: 0;
        left: 0;
        right: 0;
        top: 80px;
        bottom: 100%;
        z-index: 9;
        background:#00001a;
        display: flex;
        width: auto;
        height: auto;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    nav .links a{
        font-size: 20px;
        color: white;
    }
    nav .links li a{
        color:white;
        text-decoration: none;
        font-size: 14px;   
    }
    nav .links li:hover .sub-menu{
        display: none;
    }

    nav .portfolioicon-burger{
        display: block;
        margin-right: 0px;
    }
    #sign-up{
        display: none;
    }
    .logo{
        float: left;
        margin-left: -15px;
    }
    nav :checked ~ .links {
        bottom: 0;
    }
    nav :checked ~ .portfolioicon-burger .line:nth-child(1){
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .portfolioicon-burger .line:nth-child(3){
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .portfolioicon-burger .line:nth-child(2){
        opacity: 0;

    }   
   
   
    .hero-texts h1{
        font-size: 32px;
        margin-top: 100px;
    }
    .hero-texts p{
        font-size: 16px;
        width: 90%;
        font-weight: 200;
        margin: 20px auto;
        line-height: 1.4;
    }
    button{
        width: 120px;
        padding: 10px 0;
        text-align: center;
        margin: 14px 7px;
        border-radius: 25px;
        font-weight: bold;
        border: 2px solid #86b300;
        background: transparent;
        color: white;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
}

.marquee{
    align-items: center;
    justify-content: center;
    display: flex;
    height: var(--marquee-height);
    width: var(--marquee-width);
    background-color: #00bfff;
    color: white;
    margin:20px 0;
    overflow: hidden;
    position: relative;
}
:root{
    --marquee-width:100%;
    --marquee-height:10vh;
    /*--marquee-elements:9;*/
    --marquee-elements-displayed:3;
    --marquee-element-width:calc(var(--marquee-width)/var(--marquee-elements-displayed));
    --marquee-animation-duration:calc(var(--marquee-elements)*5s);
   
}


.marquee-content{
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}



@keyframes scrolling{
    0%{transform: translateX(80vw);}
    100%{transform: translateX(calc(-1*var(--marquee-element-width)*var(--marquee-elements)));}
}


.marquee-content li{
    
    width: var(--marquee-element-width);
    flex-shrink: 0;
    font-size: calc(var(--marquee-height)*1/3);
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media(max-width:768px){
    :root{
        --marquee-height:10vh; 
        --marquee-width:100%; 
        --marquee-elements-displayed:2;
    }
}


.welcome{
    margin-top: 80px;
}
.welcome p{
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}
.welcome h2{
    text-align: center;
    position: relative;
    margin-bottom: 60px;
    font-size: 48px;
    font-weight: 700;
}
.welcome h2::after{
    content: '';
    background:#ffc61a ;
    width: 200px;
    height: 5px;
    bottom: -18px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
.welcome h3{
    text-align: center;
}
@media screen and (max-width:768px){
    .welcome h2{
        font-size: 26px;
    }
    .welcome p{
        font-size: 18px;
    }
    .welcome h2::after{
        width: 100px;
    }
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 5px;
}

.about-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
    height: 440px;
    object-fit: cover;
}
.about-col h1{
    font-size: 40px;
    padding-top: 0px;
}
.about-col p{
    padding: 15px 0 25px;
    line-height: 1.8;
    font-size: 17px;
}
.new-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(70, 69, 69);
    border: 2px solid rgb(70, 69, 69);
    padding: 16px 64px;
    font-size: 14px;
    font-weight: bold;       
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 1px;    
}
.new-btn:hover{
    color: white;
    background: rgb(70, 69, 69);
    border: 1px solid rgb(70, 69, 69);
}
@media(max-width: 768px){
    .about-row{
        flex-direction: column;
        text-align: center;    
    }
    .about-col h1{
        padding-top: 0;
    }
    .about-col p{
        font-size: 14px;
        line-height: 1.6;
    }
    .about-col img{
        height: 280px;
    }
}
@media(max-width: 1024px){
    .about-col h1{
        padding-top: 0;
    }
    .about-col p{
        font-size: 16px;
        line-height: 1.6;
    }
}

.card-container{
    width: 90%;
    padding: 1rem 1.5rem;
    margin: auto;
    margin-top: 60px;
}

.icon-container{
    width: 90%;
    padding: 1rem 1.5rem;
    margin: auto;
}
.card-container h2{
    text-align: center;
    position: relative;
    margin-bottom: 60px;
    font-size: 28px;
    font-weight: 700;
}
.card-container h2::after{
    content: '';
    background:#ffc61a ;
    width: 100px;
    height: 5px;
    bottom: -18px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.team{
    display: grid;
    gap: 4rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.card{
    width: 100%;
    max-width: 20rem;
    text-align: center;
    border: 2px solid #ccc;
    box-shadow: 0 0 5px 0px #ccc;
}
.card img{
    width: 100%;
    object-fit: cover;
    height: 12rem;
    margin: auto;
    
}
.card-details{
    margin-top: 0.1rem;
    color: black;
    padding: 15px 10px;
}
.card a{
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width:768px){
    .team{
        display: flex;
        flex-direction: column;
       margin: 30px 0;
    }  
}

.icon-container{
    width: 90%;
    padding: 1rem 1.5rem;
    margin: auto;
    margin-top: 60px;
}
.icon-container h2{
    text-align: center;
    position: relative;
    margin-bottom: 60px;
    font-size: 28px;
    font-weight: 700;
}
.icon-container h2::after{
    content: '';
    background:#ffc61a;
    width: 100px;
    height: 5px;
    bottom: -18px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.icon-center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icon-team{
    display: grid;
    gap: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.icon-card{
    width: 100%;
    max-width: 15rem;
    padding: 25px 15px;
    text-align: center;
    background: white;
    box-shadow: 0 0 5px 0px #72a188;
    border-radius: 5px; 
    line-height: 1.2;
    transition: transform 0.5s, background 0.5s;
}
.icon-card i{
    font-size: 40px;
    margin-bottom: 10px;
}
.icon-card h3{
    margin-bottom: 8px;
}
.icon-card:hover{
    background: #ddf1fa;
    color: black;
    transform: scale(1.05);
   
}
.icon-card:hover i{
    color: black;
}
@media screen and (max-width:768px){
    .icon-team{
        display: flex;
        flex-direction: column;
       margin: 30px 0;
    }  
}

.clients{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    margin-top: 30px;   
}

.client-img1 img{
    width: 250px;
    height: auto;
    padding-right: 30px;
}

.client-img img{
    padding-right: 30px;
}
.client-logo{
    padding-right: 40px;
}
@media screen and (max-width:768px){
    .clients{
        display: flex;
        flex-direction: column;
    }
    .client-logo{
        padding-bottom: 26px;
        padding-top: 26px;
        padding-right: none;
    }
}

footer{
    width: 100%;
    bottom: 0;
    background:  #86b300;
    padding: 100px 0 30px;
    font-size: 13px ;
    line-height: 20px;
    margin-top: 50px;
}

.feeter-row{
    width: 85%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.feeter-logo{
    width: 80px;
    color: white;
    font-size: 18px;       
}



.col{
    color: white;
    flex-basis: 25%;
    padding: 10px;
    font-weight: 700;
}
.col h3{
    width: fit-content;
    margin-bottom: 35px;
    position: relative;
}



.feeter-ul li{
    list-style: none;
    margin-bottom: 12px;
}
.feeter-ul li a{
    color:white;
    font-weight: 700;
    text-decoration: none;
}
.feeter-ul p{
    list-style: none;
    margin-bottom: 12px;
    font-weight: 700;
}


form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
    margin-bottom: 50px;    
}

form i{
    font-size: 18px;
    margin-right: 12.5px;
}

form input{
    width: 100%;
    background: transparent;
    color:black;
    border: 0;
    outline: none;

}

form button{
    background: transparent;
    color: black;
    outline: none;
    border: 0;
    cursor: pointer;
}
.social-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.social-icon i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: rgb(70, 69, 69);
    background: white;
    margin-right: 15px;
    cursor: none;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 2px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
    font-size: 18px;
    color: white;
    padding-bottom: 10px;
}

.underline{
    width: 100%;
    height: 5px;
    background: #46509b;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0; 
    overflow: hidden;  
}

.underline span{
    width: 15px;
    height: 100%;
    background: #FFF;
    position: absolute;
    border-radius: 3px;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
    
}

@keyframes moving{
    0%{
        left: -20x;
    }
    100%{
        left: 100%;
    }
}

@media (max-width: 700px) {
    footer{
        bottom: unset;
         
    }

    .col-logo{
        flex-basis: 100%;
        
    }
    .col{
         flex-basis: 100%;
         padding-bottom: 30px;
    }
    .copyright{
        text-align: center;
        font-size: 14px;
        margin-left: 0;
        color: white;
        padding-bottom: 10px;
    }
    
}

.row{
    width: 80%;
    margin: auto;
    margin-top: 0%;
    display: flex;
    justify-content: space-between;      
}
@media screen and (max-width: 768px){
    .row{
        flex-direction: column;
        text-align: center;    
    }
}

.about-home{
    position: relative;
    width: 100%;
    height: 50vh;
    top: 0;
    background-size: cover;
    background-image:  linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/new\ farm.jpg);
    background-position: center center;   
}
.about-home h1{
    width: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFF;
    font-size: 48px;
}
.blog-content{
    width: 100%;
    margin: auto;
    padding: 50px 0;
}
.blog-left{
    flex-basis: 55%;
}
.blog-left img{
    width: 80%;
    height: 310px;
}
.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.blog-left  p{
    color: rgb(46, 46, 46);
    padding: 0;
    width: 95%;
}
.blog-right{
    flex-basis: 45%;
}
.blog-right h3{
    background: #00001a;
    color: white;
    padding: 9px 0;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}
.blogright-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    box-sizing: border-box;
}
.top-box{
    width: 140px;
    height: 140px;
    background: #00001a;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-shadow: 0 0 5px 0px #ddf1fa;
    border-radius: 4px;
}
.top-row{
    display: flex;
    justify-content:start;
}
.top-box h3{
    font-size: 32px;
    text-align: center;
    color: #FFF;
}
.top-box p{
    text-align: center;
    color: #ccc;
    padding-left: 6px;
    font-size: 12px;
}


@media(max-width: 768px){
    .blog-right{
        margin-top: 30px;
    }
    .top-row{
        display: flex;
        justify-content:space-evenly;
    }
    

}


.products-home{
    position: relative;
    width: 100%;
    height: 50vh;
    top: 0;
    background-size: cover;
    background-image:  linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/new\ farm.jpg);
    background-position: center center; 
}
.products-home h1{
    width: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFF;
    font-size: 48px;
}
.products-list{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left-list{
    flex-basis: 70%;
}
.right-list{
    flex-basis: 25%;
}
.left-list h1{
    color: black;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 600;
}
.products-tab{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 2px solid #ccc;
}
.products-image{
    flex-basis: 40%;
    object-fit: cover;
}
.products-image img{
    width: 100%;
    border-radius: 12px;
}
.products-info{
    flex-basis:58% ;
}
.products-info h3{
    font-weight: 600;
    font-size: 22px;
    margin: 4px 0;
}
.products-info i{
    color: #86b300;
    font-size: 18px;
    margin: 10px 1px;
}
.products-price{
    text-align: left;
    margin-top: 40px;
}
.products-price a{
    color: #00001a;
    background: transparent;
    border: 2px solid #00001a;
    padding: 16px 32px;
    font-weight: 600;
}
.products-price a:hover{
    background: #00001a;
    color: #FFF;
}

@media only screen and (max-width:700px){
    .left-list,.right-list,.products-info,.products-image{
        flex-basis: 100%;
    }

}



.contact-home{
    position: relative;
    width: 100%;
    height: 50vh;
    top: 0;
    background-size: cover;
    background-image:  linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/new\ farm.jpg);
    background-position: center center; 
}
.contact-home h1{
    width: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFF;
    font-size: 48px;
}

.signup-container{
    width: 100%;
    min-height: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    margin-top: 100px;
}
.signup-box{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    flex-wrap: wrap;
}
.signup-text{
    flex-basis: 50%;
    flex-grow: 1;
}

.signup-text{
    background: #00001a;
    color: white;
    padding: 40px 8%;
    min-width: 250px;
}
.signup-text h2{
    font-weight: 600;
}

.signup-text h4{
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
}
.input-field{
    padding: 10px;
    border-radius: 4px;
    border: 2px solid white;
    color: white;
    outline: none;
    display: block;
    width: 100%;
    margin: 5px 0 10px;
    background: transparent;
    
}
.signup-form label{
    font-weight: 500;
    font-size: 12px;
}
.signup-form ::placeholder{
    color: white;
}
.form-row{
    display: flex;
    align-items: center;
}
.form-row input{
    margin-right: 6px;
}
.signup-text button {
    padding: 10px;
    border-radius: 4px;
    border: 2px solid white;
    outline: none;
    display: block;
    width: 100%;
    margin: 18px 0 10px;
    background: white;
    color: #111D67;
    cursor: pointer;
    font-weight: 700;
}
.signup-text button:hover{
    background:#46509b;
    border: 2px solid #46509b;
    color: white;
}

textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border:2px solid white ;
    color: #C7E4E3;
    outline: none;
    background: transparent;
}
@media (max-width: 700px){
    .signup-image img{
        width: 360px;
        height: 180px;
        margin-top: 40px;
        padding-bottom: 40px;
        object-fit: cover;
        display: block;
        flex-grow: 1;
    }
}




.map-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}
.map-container h1{
    margin-bottom: 60px;
}
.map-container iframe{
    width: 80%;
    height: 500px;
}

























  